<!doctype html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Word Wildlife Found</title>
	<link rel="stylesheet" type="text/css" href="../CSS/Style.css">
</head>

<body>
	<div class="chinasImg">
		<div class="logo">
			<img src="../IMG/logo.png" alt="">
		</div>
		<div class="Imgcontenedor">
			<h1><span>HELP THE <br> PLANET NOW</span></h1>
		</div>
		<nav class="menu">
			<ul>
				<li><a href="../index.html">Inicio</a></li>
				<li><a href="recomendaciones.html">Recomendaciones</a></li>
				<li><a href="act.html">Actividades</a></li>
				<li><a href="projects.html">Proyectos</a></li>
				<li><a href="galery.html">Galeria</a></li>
			</ul>

		</nav>
	</div>


	<div class="clearfix">

	</div>
	<div class="contenedor">

		<div class="contenedor-recomendations">
			<h3>ACTIVIDADES</h3>

			<strong>Hacer objetos útiles con materiales reciclados</strong> <br><br>
			<p> Una de las actividades más ilustrativas que permiten a los niños entender de la importancia del cuidado
				del medio ambiente es el reciclaje, especialmente cuando son ellos mismos quienes llevan a cabo esta
				actividad. Estas actividades se pueden realizar de muchas formas, desde reciclar papel en casa, utilizar
				botellas de plástico o tetrabricks para fabricar objetos útiles en el día a día, o infinidad de otras
				acciones basadas en la reutilización de materiales de desecho.

				Una de las actividades quizás más interesantes que se pueden realizar en este sentido es la restauración
				de muebles, ya que se trata de objetos mucho más voluminosos y vistosos una vez que se haya completado
				su reciclaje. Para ello, podemos conseguir un mueble viejo y de aspecto antiguo y lijarlo y aplicarle
				una capa de pintura nueva, antes de finalizar con una capa de barniz. El resultado será un mueble
				completamente nuevo sin necesidad de eliminar uno viejo y comprar otro nuevo. Si se trata de la primera
				vez que se hace, una buena opción para empezar serían las mesillas de noche, ya que son muebles pequeños
				y fáciles de manejar.
			</p><br><br>

			<strong>Salidas al campo con el objeto de proteger o restaurar el medio ambiente</strong> <br><br>
			<p>Por otro lado, una actividad que no debería faltar a la hora de cuidar el medio ambiente serían las
				salidas al campo enfocadas con un perfil constructivo más allá del simple hecho de disfrutar de la
				naturaleza. En este sentido, un buen ejemplo podría salir al campo con el objetivo de recoger la
				"basuraleza" que encontremos durante una travesía de senderismo. Para ello, lo más recomendable es
				llevar bolsas y pinchos que nos permitan recolectar la basura que encontremos a nuestro paso con
				facilidad. Desgraciadamente, lo más probable es que la encontremos en abundancia.

				Así mismo, otra de las actividades que podemos realizar en forma de salidas al campo es la de reforestar
				una zona boscosa dañada. Para ello, lo más aconsejable es hacerlo con un grupo organizado, lo que suele
				ser sencillo cuando se contacta con alguno de estos grupos locales o vecinales dedicados a actividades
				de este tipo en beneficio de la comunidad. Aquí te explicamos la importancia de la reforestación.
			</p> <br><br>

			<strong>Cenas o comidas veganas con amigos en casa</strong> <br><br>
			<p>Otra actividad disponible para cuidar el medio ambiente y sin necesidad de salir de casa es realizar
				cenas o comidas temáticas con familiares y amigos. El elemento fundamental de estas cenas pasa tanto por
				la concienciación como por el intercambio de ideas a partir de recetas veganas y elaboradas con
				productos locales, productos alimentarios que reducen nuestro impacto medioambiental de forma
				considerable. Aunque se trata de una opción especialmente atractiva para personas veganas y
				vegetarianas, puede ser una buena manera de fomentar dietas más respetuosas con el medio ambiente para
				personas omnívoras que temen acercarse a estas opciones dietéticas por desconocimiento o desinformación.

				Una forma bastante fácil de realizar este tipo de comidas o cenas pasa por distribuir la cocina a cada
				persona que vaya a asistir. De esta forma, por ejemplo, se puede pedir que una persona elabore un
				primero, otra un segundo, y otra un postre. Las reglas serían conseguir las comidas más apetitosas pero,
				al mismo tiempo, conseguir que sean lo más bajas desde el punto de vista de impacto medioambiental, con
				lo que el uso de productos locales o ecológicos serían puntos importantes a tener en cuenta, así como el
				uso de ingredientes de origen vegetal que son mucho menos dañinos con el medio ambiente que los de
				origen animal.


			</p> <br><br>
		</div>
	</div>


	<div class="clearfix">

	</div>




	<footer id="footer">
		<nav class="menuFooter">
			<ul>
				<li><a href="#">Contacto</a></li>
				<li><a href="#">Politicas de privacidad</a></li>
				<li><a href="#">Ayuda</a></li>
				<li><a href="#">Unete</a></li>
			</ul>

		</nav>

		<div class="dir">
			<p><strong>Word Wildlife Fund</strong><br>
				1250 24th Street, N.W.<br>
				Washington, DC 20037<br>
			</p>
		</div>

		<div class="logoFooter">
			<img src="../IMG/logo.png" alt="">
		</div>

		<div class="copi">
			<p>&copy; 2020 Word Wildlife Fund</p>
		</div>


	</footer>

</body>

</html>