<!doctype html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Word Wildlife Found</title>
	<link rel="stylesheet" type="text/css" href="../CSS/Style.css">
</head>

<body>
	<div class="chinasImg">
		<div class="logo">
			<img src="../IMG/logo.png" alt="">
		</div>
		<div class="Imgcontenedor">
			<h1><span>HELP THE <br> PLANET NOW</span></h1>
		</div>
		<nav class="menu">
			<ul>
				<li><a href="../index.html">Inicio</a></li>
				<li><a href="recomendaciones.html">Recomendaciones</a></li>
				<li><a href="act.html">Actividades</a></li>
				<li><a href="projects.html">Proyectos</a></li>
				<li><a href="galery.html">Galeria</a></li>
			</ul>

		</nav>
	</div>


	<div class="clearfix">

	</div>


	<div class="contenedor-galeria">
		<h3>Galeria de Fotos</h3>

		<div class="galeria">
			<input type="radio" name="navegacion" id="_1" checked>
			<input type="radio" name="navegacion" id="_2">
			<input type="radio" name="navegacion" id="_3">
			<input type="radio" name="navegacion" id="_4">
			<img src="../IMG/fauna.png" width="920px" height="480px" alt="Galeria CSS 1" />
			<img src="../IMG/fauna2.png" width="920px" height="480px" alt="Galeria CSS 2" />
			<img src="../IMG/comunidades.png" width="920px" height="480px" alt="Galeria CSS 3" />
			<img src="../IMG/comunidaes2.png" width="920px" height="480px" alt="Galeria CSS 4" />
		</div>

	</div>


	<div class="clearfix">

	</div>




	<footer id="footer">
		<nav class="menuFooter">
			<ul>
				<li><a href="#">Contacto</a></li>
				<li><a href="#">Politicas de privacidad</a></li>
				<li><a href="#">Ayuda</a></li>
				<li><a href="#">Unete</a></li>
			</ul>

		</nav>

		<div class="dir">
			<p><strong>Word Wildlife Fund</strong><br>
				1250 24th Street, N.W.<br>
				Washington, DC 20037<br>
			</p>
		</div>

		<div class="logoFooter">
			<img src="../IMG/logo.png" alt="">
		</div>

		<div class="copi">
			<p>&copy; 2020 Word Wildlife Fund</p>
		</div>


	</footer>

</body>

</html>