<!doctype html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Word Wildlife Found</title>
	<link rel="stylesheet" type="text/css" href="../CSS/Style.css">
</head>

<body>
	<div class="chinasImg">
		<div class="logo">
			<img src="../IMG/logo.png" alt="">
		</div>
		<div class="Imgcontenedor">
			<h1><span>HELP THE <br> PLANET NOW</span></h1>
		</div>
		<nav class="menu">
			<ul>
				<li><a href="../index.html">Inicio</a></li>
				<li><a href="recomendaciones.html">Recomendaciones</a></li>
				<li><a href="act.html">Actividades</a></li>
				<li><a href="projects.html">Proyectos</a></li>
				<li><a href="galery.html">Galeria</a></li>
			</ul>

		</nav>
	</div>

	<div class="contenedor">
		<div class="clearfix" id="projects">
			<img src="../IMG/pesca.jpg" alt="" class="img01">
			<h3>Estándares universales para la trazabilidad de mariscos</h3>

			El océano ofrece una gran cantidad de mariscos, apoyando cientos de millones de empleos y alimentando a
			miles de millones de personas. Pero aproximadamente una cuarta parte del pescado capturado en todo el mundo
			se hace ilegalmente en las sombras, alimentando un mercado negro que explota la vida silvestre, las personas
			y los puntos ciegos en la aplicación de las leyes. La falta de transparencia permite que las embarcaciones
			deshonestas y las redes criminales operen sin ser detectadas y se beneficien del pescado robado, sacando
			dinero de los bolsillos de las personas que siguen las reglas y contribuyendo a la disminución de la salud
			de los océanos. Poner fin a este comercio de mariscos en el mercado negro es bueno para la naturaleza y las
			personas, pero requerirá una variedad de herramientas comprobadas que funcionan en conjunto, la principal de
			ellas es la trazabilidad. </p>

		</div>
		<hr>
		<div class="clearfix" id="projects">
			<img src="../IMG/tunas.jpg" alt="" class="img01">
			<h3>Las flotas atuneras de Pakistán lideran los esfuerzos para desenredar nuestros océanos</h3>

			Como parte del Proyecto de Atún ABNJ de los Océanos Comunes, WWF está trabajando a bordo con las
			tripulaciones de los buques para mejorar los informes científicos y ajustar las prácticas de redes de
			enmalle para monitorear y reducir la captura incidental. Este proyecto demostró que las tripulaciones de
			embarcaciones, posicionadas de manera única al comienzo de la cadena de suministro, pueden ser agentes
			efectivos para desarrollar mejoras en las mejores prácticas e implementarlas con éxito en general.
		</div>
		<hr>
		<div class="clearfix" id="projects">
			<img src="../IMG/tiger.jpg" alt="" class="img01">
			<h3>Cerrar las granjas de tigres</h3>


			Las "granjas" de tigres son instalaciones cautivas que crían tigres para suministrar o participar
			directamente en el comercio de partes o productos de tigres. WWF está pidiendo una mayor supervisión y
			protección de todos los tigres cautivos.
		</div>
	</div>




	<footer id="footer">
		<nav class="menuFooter">
			<ul>
				<li><a href="#">Contacto</a></li>
				<li><a href="#">Politicas de privacidad</a></li>
				<li><a href="#">Ayuda</a></li>
				<li><a href="#">Unete</a></li>
			</ul>

		</nav>

		<div class="dir">
			<p><strong>Word Wildlife Fund</strong><br>
				1250 24th Street, N.W.<br>
				Washington, DC 20037<br>
			</p>
		</div>

		<div class="logoFooter">
			<img src="../IMG/logo.png" alt="">
		</div>

		<div class="copi">
			<p>&copy; 2020 Word Wildlife Fund</p>
		</div>


	</footer>

</body>

</html>