<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Word Wildlife Found</title>
	<link rel="stylesheet" type="text/css" href="../CSS/Style.css">
</head>
<body>
	<div class="chinasImg">
		<div class="logo">
			<img src="../IMG/logo.png" alt="">
		</div>
		<div class="Imgcontenedor">
			<h1><span>HELP THE <br> PLANET NOW</span></h1>
		</div>
		<nav class="menu">
			<ul>
				<li><a href="../index.html">Inicio</a></li>
				<li><a href="recomendaciones.html">Recomendaciones</a></li>
				<li><a href="act.html">Actividades</a></li>
				<li><a href="projects.html">Proyectos</a></li>
				<li><a href="galery.html">Galeria</a></li>
			</ul>

		</nav>
	</div>
					
		
	<div class="clearfix">

	</div>
	
	<div class="contenedor">
		<div class="recomendation">
			<h3>Recomendaciones</h3>
			<p>
				Te proponemos varios consejos sencillos y acciones para cuidar el medio ambiente en casa y transmitir valores positivos en ese sentido a tus hijos: <br><br>
					<strong>Separa la basura.</strong><br>
					Desde pequeños es bueno que los niños aprendan a separar los residuos para que se puedan reciclar. Enséñales qué se tira en cada cubo y por qué se debe hacer así. <br><br>
					<strong>Usa productos que puedan reutilizarse.</strong><br>
					Hay muchos productos que se pueden usar varias veces para proteger la naturaleza. Por ejemplo, utiliza servilletas de tela en lugar de servilletas de papel. <br><br>
					<strong>Apaga las luces.</strong><br>
					Parece obvio, pero no nos damos cuenta de la cantidad de veces que encendemos la luz de una habitación que no ocupamos. Acostumbra a tus hijos a apagar la luz y cuando te marches de casa comprueba que todo está apagado. <br><br>
					<strong>Consume frutas y verduras ecológicas. </strong><br>
					Los productos ecológicos cuidan el medio ambiente porque en su producción no se utilizan fertilizantes ni otros productos contaminantes. <br><br>
					<strong>Recicla todo lo que puedas. </strong><br>
					Antes de tirar ropa, libros o juguetes, piensa si puedes darles una segunda oportunidad para evitar gastar y comprar todo nuevo. Ahorrarás dinero y protegerás la naturaleza. <br><br>

			</p>
		
		</div>
		
</div>
	
			<div class="clearfix">

			</div>
	
	
	
	
<footer id="footer">
	<nav class="menuFooter">
		<ul>
			<li><a href="#">Contacto</a></li>
			<li><a href="#">Politicas de privacidad</a></li>
			<li><a href="#">Ayuda</a></li>
			<li><a href="#">Unete</a></li>
		</ul>

	</nav>

<div class="dir">
	<p><strong>Word Wildlife Fund</strong><br>
		1250 24th Street, N.W.<br>
		Washington, DC 20037<br>
	</p>
</div>

<div class="logoFooter">
	<img src="../IMG/logo.png" alt="">
</div>

<div class="copi">
	<p>&copy; 2020 Word Wildlife Fund</p>
</div>
    

</footer>
	
</body>
</html>
